
{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/nantes.png') }}" alt="nantes">
                <div class="overlay"></div>
                <div class="city_text">NANTES</div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/quimper.png') }}" alt="quimper">
            <div class="overlay"></div>
            <div class="city_text">QUIMPER</div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/rennes.png') }}" alt="rennes">
            <div class="overlay"></div>
            <div class="city_text">RENNES</div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/niort.png') }}" alt="niort">
            <div class="overlay"></div>
            <div class="city_text">NIORT</div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/france.png') }}" alt="france">
            <div class="overlay"></div>
            <div class="city_text">TOUS LES SITES</div>
            </div>
        </div>
    </div>


{% endblock %}
