
{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-2">
            <div class="img_hov">
           <img class="img_home" src="{{ asset('img/nantes.png') }}" alt="nantes" >
                <div class="overlay"></div>
                <div class="city_text"> <a name="label" value="ENI NANTES" href="{{ path('listEvent', {'label':'ENI NANTES'|raw}) }}">NANTES</a></div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/quimper.png') }}" alt="quimper">
            <div class="overlay"></div>
            <div class="city_text">
                <a name="label" value="ENI QUIMPER" href="{{ path('listEvent', {'label':'ENI QUIMPER'}) }}">QUIMPER</a></div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/rennes.png') }}" alt="rennes" >
            <div class="overlay"></div>
                <div class="city_text">
                    <a name="label" value="ENI RENNES" href="{{ path('listEvent', {'label':'ENI RENNES'}) }}">RENNES</a></div>
            </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3"></div>
        <div class="col-md-2" id="img_decal">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/niort.png') }}" alt="niort" >
            <div class="overlay"></div>
            <div class="city_text">
                <a name="label" value="ENI NIORT" href="{{ path('listEvent', {'label':'ENI NIORT'}) }}">NIORT</a></div>
            </div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2">
            <div class="img_hov">
            <img class="img_home" src="{{ asset('img/france.png') }}" alt="france">
            <div class="overlay"></div>
            <div class="city_text">
                <a name="label" value="ENI NIORT" href="{{ path('listEvent', {'label':'ENI NIORT'}) }}">TOUS LES SITES</a>
            </div>
            </div>
        </div>
    </div>


    <script>
        $('.img_hov').mouseenter(function () {
            $(this).animate({
                width : '25em'
            }, {
                duration : 1000,
                queue : false
            })
        })
        $('.img_hov').mouseleave(function () {
            $(this).animate({
                width : '100%'
            }, {
                duration : 1000,
                queue : false
            })
        })
    </script>

{% endblock %}
