Actions: <br>
<a href="{{ path('affichEvent', {'id': eventByDescription.id}) }}">Afficher</a>
<button class="withdraw-event" name="event_id" value="{{ eventByDescription.id }}">Se désister</button>
<button class="inscription-event" name="id" value="{{ eventByDescription.id }}">S'inscrire</button>
<a href="{{ path('update-event', {'event_id': eventByDescription.id}) }}">modifier</a>
<button class="delete-event" name="event_id" value="{{ eventByDescription.id }}">Annuler</button>







