{#Actions: <br>#}
<div class="row align-items-center">


    {#    Ne pas changer les classes    #}

    <button><a style="color: black" href="{{ path('affichEvent', {'id': eventByDescription.id}) }}">Afficher</a>
    </button>

    {#    {% if (eventByDescription.inscriptions == inscription and userId == inscription.user.id) %}#}

    {% if found %}


        <button class="withdraw-event" name="event_id" value="{{ eventByDescription.id }}">Se Désister</button>

    {% else %}

        <button class="inscription-event" name="id" value="{{ eventByDescription.id }}">S'inscrire</button>

    {% endif %}

    {% if (eventByDescription.creator.id == userId) %}

        <button><a style="color: black" href="{{ path('update-event', {'event_id': eventByDescription.id}) }}"
                   class="card-link">Modifier</a></button>
        <button class="delete-event" name="event_id" value="{{ eventByDescription.id }}">Annuler</button>

    {% endif %}

</div>








