{#Actions: <br>#}
<div class="row align-items-center">


    {#    Ne pas changer les classes    #}

    <button class="btnAction"><a href="{{ path('affichEvent', {'id': eventByDescription.id}) }}">Afficher</a>
    </button>

    {% if found %}

        <button class="withdraw-event" name="event_id" value="{{ eventByDescription.id }}">Se Désister</button>

    {% else %}


        {% if ( ((eventByDescription.inscriptions|length) >=  eventByDescription.maxMembers) or (eventByDescription.dateInscriptionEnd <= date('now')) ) %}

            <button class="inscription-event" name="id" value="{{ eventByDescription.id }}" id="disabled" disabled>S'inscrire</button>
        {% else %}
            <button class="inscription-event" name="id" value="{{ eventByDescription.id }}">S'inscrire</button>

        {% endif %}



    {% endif %}

    {% if ((eventByDescription.creator.id == userId) or (user.roles == ['ROLE_ADMIN'])) %}

        <button class="btnAdmin"><a href="{{ path('update-event', {'event_id': eventByDescription.id}) }}"
                   class="card-link">Modifier</a></button>


    {% endif %}

    {% if (user.roles == ['ROLE_ADMIN']) %}

        <button class="delete-event" name="event_id" value="{{ eventByDescription.id }}">Supprimer</button>

    {% endif %}
</div>





