<div class="row d-flex justify-content-center">


    {% for eventByDescription in eventByDescription %}


        {% set found = false %}

        {% for listInscription in inscription %}


            {% if (userId == listInscription.user.id and listInscription.event == eventByDescription ) %}

                {% set found = true %}

            {% endif %}
        {% endfor %}

        <div class="card col-sm-6 col-md-4" style="width: 18rem;" id="event_card">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">{{ eventByDescription.label }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">

                {% if ((eventByDescription.creator.active == true) and (eventByDescription.creator.erased == false)) %}
                    <i class="fas fa-user-astronaut"></i> Organisateur :
                        <a class="parts" href="{{ path('userProfile', {'userId': eventByDescription.creator.id}) }}">{{ eventByDescription.creator.username }}</a>
                        <br>
                    {% else %}
                        {{ eventByDescription.creator.username }}
                    {% endif %}
                </p>
                {% if eventByDescription.state == "Ouverte" %}<p><i class="fas fa-terminal"></i> L'événement est ouvert à l'inscription</p> {% endif %}
                {% if eventByDescription.state == "Annulee" %}<p><i class="fas fa-terminal"></i> L'événement à été annulé</p> {% endif %}
                {% if eventByDescription.state == "EnCreation" %}<p><i class="fas fa-terminal"></i> L'événement est en création</p> {% endif %}
                {% if eventByDescription.state == "Cloturee" %}<p><i class="fas fa-terminal"></i> Les inscriptions ne sont plus possibles</p> {% endif %}
                {% if eventByDescription.state == "ActiviteEnCours" %}<p><i class="fas fa-terminal"></i> L'événement se déroule actuellement</p> {% endif %}
                {% if eventByDescription.state == "Passee" %}<p><i class="fas fa-terminal"></i> L'événement est fini</p> {% endif %}


                <p class="card-text"><i class="fas fa-map-marker-alt"></i> Lieu :  {{ eventByDescription.label }}</p>
                <p class="card-text"><i class="fas fa-code"></i> {{ eventByDescription.site.label }}</p>
                <p class="card-text"><i class="fas fa-users"></i> Nombre inscrit(s): <span
                            class="numberMember">{{ eventByDescription.inscriptions|length }}</span>
                    / {{ eventByDescription.maxMembers }}</p>

{#                {% if found == true %}

                    <p class="card-text">Inscrit</p>


                {% else %}
                    <p class="card-text"><br></p>
                {% endif %}#}

                <div {#class="d-flex justify-content-center"#}>

                    {% include 'includes/actions.html.twig' %}

                </div>
            </div>

        </div>

    {% endfor %}


</div>


<script>

    $(".inscription-event").on("click", makeAjaxRequest);

    function makeAjaxRequest() {
        $idvar = ($(this).attr("value"));
        $varThis = $(this);

        $varCountMember = $varThis.parents(".card-body").find(".numberMember");


        $varThis.off("click", makeAjaxRequest);

        $.ajax({

            url: "http://localhost/going-out/public/api/inscriptionEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {
                $varThis.removeClass("inscription-event").addClass("withdraw-event");
                $varThis.html("Se Désister");

                $varIntCountMember = parseInt($varCountMember.html());
                $varIntCountMember++;
                $varCountMember.html($varIntCountMember);

                $varThis.on("click", makeAjaxRequestWithdraw);


                console.log(response);
            });
    }
</script>


<script>

    $(".withdraw-event").on("click", makeAjaxRequestWithdraw);

    function makeAjaxRequestWithdraw() {
        $idvar = ($(this).attr("value"));
        $varThis = $(this);

        $varCountMember = $varThis.parents(".card-body").find(".numberMember");


        $varThis.off("click", makeAjaxRequestWithdraw);

        $.ajax({

            url: "http://localhost/going-out/public/api/withdrawEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {
                $varThis.removeClass("withdraw-event").addClass("inscription-event");
                $varThis.html("S'inscrire");

                $varIntCountMember = parseInt($varCountMember.html());
                $varIntCountMember--;
                $varCountMember.html($varIntCountMember);

                $varThis.on("click", makeAjaxRequest);


                console.log(response);
            });
    }
</script>


<script>

    $(".delete-event").on("click", makeAjaxRequestdelete);

    function makeAjaxRequestdelete() {
        $idvar = ($(this).attr("value"));
        $.ajax({

            url: "http://localhost/going-out/public/api/deleteEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {


                console.log(response);
            });
    }
</script>