{% for eventByDescription in eventByDescription %}

    <p>
        Site label: {{ eventByDescription.label }} <br>
        Site id: {{ eventByDescription.id }} <br>
        Site description: {{ eventByDescription.description }} <br>
        Site dateInscriptionEnd: {{ eventByDescription.dateInscriptionEnd |date('d-m-Y H:i:s') }} <br>
        Site dateStart: {{ eventByDescription.dateStart |date('d-m-Y H:i:s') }} <br>
        Site dateInscriptionEnd: {{ eventByDescription.dateInscriptionEnd |date('d-m-Y H:i:s') }} <br>
        Site duration: {{ eventByDescription.duration |date('H:i:s') }} <br>
        Site maxMembers: {{ eventByDescription.maxMembers }} <br>
        {% include 'includes/actions.html.twig' %}
    </p>

{% endfor %}