<div class="row d-flex justify-content-center">

    {% for eventByDescription in eventByDescription %}


{#                {% if workflow_can(eventStatus, 'EnCreation') %}#}
{#                    <p>test</p>#}
{#                {% endif %}#}


        {% set found = false %}

        {% for listInscription in inscription %}


            {% if (userId == listInscription.user.id and listInscription.event == eventByDescription ) %}

                {% set found = true %}

            {% endif %}
        {% endfor %}

        <div class="card col-sm-6 col-md-4" style="width: 18rem;" id="event_card">
            <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">{{ eventByDescription.label }}</h5>
                <h6 class="card-subtitle mb-2 text-muted"></h6>
                <p class="card-text">
                    {% if ((eventByDescription.creator.active == true) and (eventByDescription.creator.erased == false)) %}
                        <a href="{{ path('userProfile', {'userId': eventByDescription.creator.id}) }}">{{ eventByDescription.creator.username }}</a>
                        <br>
                    {% else %}
                        {{ eventByDescription.creator.username }}
                    {% endif %}

                    {#                    <a href="{{ path('userProfile', {'userId': eventByDescription.creator.id}) }}">{{ eventByDescription.creator.username }}</a>#}
                </p>
                <p class="card-text">{{ eventByDescription.label }}</p>
                <p class="card-text">{{ eventByDescription.site.label }}</p>
                <p class="card-text">Nombre inscrit(s): <span
                            class="numberMember">{{ eventByDescription.inscriptions|length }}</span>
                    / {{ eventByDescription.maxMembers }}</p>

                {% if found == true %}

                    <p class="card-text">Inscrit</p>


                {% else %}
                    <p class="card-text"><br></p>
                {% endif %}
                {#                <p>{{ count }} participant(s)</p>#}
                <div class="d-flex justify-content-center">

                    {% include 'includes/actions.html.twig' %}

                </div>
            </div>

        </div>

    {% endfor %}


</div>


<script>

    $(".inscription-event").on("click", makeAjaxRequest);

    function makeAjaxRequest() {
        $idvar = ($(this).attr("value"));
        $varThis = $(this);

        $varCountMember = $varThis.parents(".card-body").find(".numberMember");


        $varThis.off("click", makeAjaxRequest);

        $.ajax({

            url: "http://localhost/going-out/public/api/inscriptionEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {
                $varThis.removeClass("inscription-event").addClass("withdraw-event");
                $varThis.html("Se Désister");

                $varIntCountMember = parseInt($varCountMember.html());
                $varIntCountMember++;
                $varCountMember.html($varIntCountMember);

                $varThis.on("click", makeAjaxRequestWithdraw);


                console.log(response);
            });
    }
</script>


<script>

    $(".withdraw-event").on("click", makeAjaxRequestWithdraw);

    function makeAjaxRequestWithdraw() {
        $idvar = ($(this).attr("value"));
        $varThis = $(this);

        $varCountMember = $varThis.parents(".card-body").find(".numberMember");


        $varThis.off("click", makeAjaxRequestWithdraw);

        $.ajax({

            url: "http://localhost/going-out/public/api/withdrawEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {
                $varThis.removeClass("withdraw-event").addClass("inscription-event");
                $varThis.html("S'inscrire");

                $varIntCountMember = parseInt($varCountMember.html());
                $varIntCountMember--;
                $varCountMember.html($varIntCountMember);

                $varThis.on("click", makeAjaxRequest);


                console.log(response);
            });
    }
</script>


<script>

    $(".delete-event").on("click", makeAjaxRequestdelete);

    function makeAjaxRequestdelete() {
        $idvar = ($(this).attr("value"));
        $.ajax({

            url: "http://localhost/going-out/public/api/deleteEvent/" + $idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function (response) {


                console.log(response);
            });
    }
</script>