{% for eventByDescription in eventByDescription %}

    <p>
        Event label: {{ eventByDescription.label }} <br>
        Event id: {{ eventByDescription.id }} <br>
        Event description: {{ eventByDescription.description }} <br>
        Event dateInscriptionEnd: {{ eventByDescription.dateInscriptionEnd |date('d-m-Y H:i:s') }} <br>
        Event dateStart: {{ eventByDescription.dateStart |date('d-m-Y H:i:s') }} <br>
        Event dateInscriptionEnd: {{ eventByDescription.dateInscriptionEnd |date('d-m-Y H:i:s') }} <br>
        Event duration: {{ eventByDescription.duration |date('H:i:s') }} <br>
        Event maxMembers: {{ eventByDescription.maxMembers }} <br>
        {% include 'includes/actions.html.twig' %}
    </p>

{% endfor %}

<script>

    $(".inscription-event").on("click", makeAjaxRequest);

    function makeAjaxRequest(){
        $idvar=($(this).attr("value"));
        $.ajax({

            url: "http://localhost/going-out/public/api/inscriptionEvent/"+$idvar
        })
            //lorsque la requête sera terminée, cette fct se déclenchera
            .done(function(response){


                console.log(response);
            });
    }
</script>