<!-- Trigger the modal with a button -->
<button type="button" class="btnValid" data-toggle="modal" data-target="#myModal">Ajouter un lieu</button>

<!-- Modal -->
<div class="modal fade" id="myModal" role="form">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Nouveau lieu</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                {{ form_row(eventForm.placeForm.label) }}
                {{ form_row(eventForm.placeForm.address) }}
                {{ form_row(eventForm.placeForm.latitude) }}
                {{ form_row(eventForm.placeForm.longitude) }}
                <div class="seek-city">
                    {{ form_row(eventForm.placeForm.city) }}
                    <select id="listCity" name="listCity">

                    </select>
                </div>
                    <script>
                        $("#listCity").change(function () {
                            selectedCity = $(this).children(':selected').val();
                            $(".seek-city input").focus().val(selectedCity);

                        });

                        $(".seek-city input").on("keyup", makeAjaxRequest);
                        var request = null;

                        function makeAjaxRequest(){
                            $idvar=($(this).val());
                            if (request){
                                request.abort();
                            }
                            request = $.ajax({

                                url: "http://localhost/going-out/public/api/seekCity/"+$idvar
                            })
                                //lorsque la requête sera terminée, cette fct se déclenchera
                                .done(function(response){
                                    //vide le select
                                    $("#listCity").empty();
                                    response.list.forEach(function(result){

                                        //créer une option
                                        var opt = $("<option>");
                                        opt.html(result.postalCode + " " + result.name);
                                        opt.attr("value", result.id);

                                        //injecter l'option dans le select
                                        $("#listCity").append(opt);
                                    })
                                    console.log(response);
                                });
                        }
                    </script>


            </div>
            <div class="modal-footer">
                <button type="submit" class="btnValid" data-dismiss="modal">Enregistrer</button>
            </div>
        </div>

    </div>
</div>