{% form_theme eventPlaceForm 'bootstrap_4_layout.html.twig' %}

<div class="container">
    <!--  <h2>Nouvelle Place</h2> -->
    <!-- Trigger the modal with a button -->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Nouvelle Place</button>

    <!-- Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Créer une nouvelle place</h4>
                </div>
                {{ form_start(eventPlaceForm) }}
                <div class="modal-body">



                    {{ form_row(eventPlaceForm.label) }}
                    {{ form_row(eventPlaceForm.address) }}
                    {{ form_row(eventPlaceForm.latitude) }}
                    {{ form_row(eventPlaceForm.longitude) }}


{#                    <button class="btn">Register</button>#}

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" data-dismiss="modal">Enregistrer</button>
                </div>
                {{ form_end(eventPlaceForm) }}
            </div>

        </div>
    </div>

</div>