{% block javascripts %}
    <script type="text/javascript">



    </script>
{% endblock %}

<nav class="navbar navbar-expand-lg navbar-light">
    <div class="d-flex flex-grow-1">
        <span class="w-100 d-lg-none d-block"><!-- hidden spacer to center brand on mobile --></span>
        <a class="navbar-brand d-none d-lg-inline-block" href="{{ path('home') }}">
            <div class="d-flex">
            <img id="logo" src="{{ asset('img/logo_HW_2.png') }}" alt="logo">
            <img id="hw" src="{{ asset('img/Hello.png') }}" alt="logo">
            </div>
            <small id="catch">la plateforme qui organise vos sorties !</small>
        </a>
        <a class="navbar-brand-two mx-auto d-lg-none d-inline-block" href="#">
            <img src="{{ asset('img/logo_HW.png') }}" alt="logo">
        </a>
        <div class="w-100 text-right">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse navbar-collapse flex-grow-1 text-right" id="myNavbar">
        <ul class="navbar-nav ml-auto flex-nowrap">
            <li class="nav-item">
                <a class="nav-link m-2 menu-item" href="{{ path('home') }}">
                    <span><div class="nav_elt text_nav">Accueil</div></span>
                </a>
            </li>
            {% if app.user %}
            <li class="nav-item">
                <div id="profil">
                    <a class="nav-link m-2 menu-item" href="{{ path('profilModif') }}">
                        <span><div class="nav_elt text_nav">Mon Profil</div></span>
                    </a>
                </div>
            </li>
                <li class="nav-item">
                    <div >
                        <a class="nav-link m-2 menu-item" href="{{ path('create-events') }}">
                            <span><div class="nav_elt text_nav">Créer une sortie</div></span>
                        </a>
                    </div>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li class="nav-item">
                <a class="nav-link m-2 menu-item" href="{{ path('update_cities') }}">
                    <span><div class="nav_elt text_nav">Villes</div></span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link m-2 menu-item" href="{{ path('update_sites') }}">
                    <span><div class="nav_elt text_nav">Sites</div></span>
                </a>
            </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="{{ path('app_register') }}">
                        <span><div class="nav_elt text_nav">Inscription</div></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="{{ path('showAllUsers') }}">
                        <span><div class="nav_elt text_nav">Membres</div></span>
                    </a>
                </li>
            {% endif %}
            {% if app.user %}
            <li class="nav-item">
                <a class="nav-link m-2 menu-item" href="{{ path('logout') }}">
                    <span><div class="nav_elt text_nav">Se déconnecter</div></span>
                </a>
            </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link m-2 menu-item" href="{{ path('login') }}">
                        <span><div class="nav_elt text_nav">Se connecter</div></span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>

<script>
/*    $(window).bind("load", function() {
        $('span').click(function () {


            $('.nav_elt').removeClass('test-color');
            $('.nav_elt').addClass('text_nav');

            $(this).children().removeClass('text_nav');
            $(this).children().addClass('test-color');
            /!*return false;*!/
        })
    });*/



    /*$(document).load(function(){
        $('span').click(function (e) {


            $('.nav_elt').removeClass('test-color');
            $('.nav_elt').addClass('text_nav');

            $(this).children().removeClass('text_nav');
            $(this).children().addClass('test-color');
            return false;
        })

    })*/

  /*  $("span").on("click", makeAjaxRequest);

    function makeAjaxRequest(){
        $.ajax({

            url: 'url',
            type: 'GET',

            complete: function() {
                $('.nav_elt').removeClass('test-color');
                $('.nav_elt').addClass('text_nav');

                $(this).children().removeClass('text_nav');
                $(this).children().addClass('test-color');
            }
    })}*/




</script>