{% extends 'layout.html.twig' %}

{% block title %}
    {{ user.username }}
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-5 col-sm-3">
        </div>
        <div class="col-sm-8 col-md-6">

            <div class="card" style="width: 18rem;">
            {% if user.file is not null %}
                <img class="card-img-top" src="{{ asset('public/uploads/' ~ user.file.name) }}" alt="Card image cap">
            {% endif %}
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">{{ user.username }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted justify-content-center">{{ user.firstname }} {{ user.name }}</h6>
                    <p class="card-text">
                        Téléphone : {{ user.phone }}<br/>
                        Email : {{ user.email }}<br/>
                        Site de rattachement : {{ user.site.label }}
                    </p>
                </div>
            </div>

            <button type="button" class="btnValid">
                Retour
            </button>
        </div>
        <div class="col-sm-1 col-md-3"></div>
    </div>
{% endblock %}