{% extends 'layout.html.twig' %}

{% block title %}
    {{ user.username }}
{% endblock %}
{% block test %}
    <div id="show_profil_bgd">
        {{ parent() }}
    </div>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-5 col-sm-3">
        </div>
        <div class="col-sm-8 col-md-6">

            <div class="card" style="width: 30rem;">
                {% if user.file is not null %}
                    <img class="card-img-top " src="{{ asset('public/uploads/' ~ user.file.name) }}"
                         alt="Card image cap"/>
                {% else %}
                    <img class="card-img-top" src="{{ asset('public/img_default/avatar_default.png') }}"
                         alt="Card image cap"/>
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">{{ user.username }}</h5>
                    <h6 class="card-subtitle d-flex justify-content-center">{{ user.firstname }} {{ user.name }}</h6>
                    <div class="affProfil">
                    <p class="card-text">
                        {% if user.showPhone %}
                            Téléphone : {{ user.phone }}<br/>
                        {% endif %}
                        Email : {{ user.email }}<br/>
                        Site de rattachement : {{ user.site.label }}
                    </p>
                </div>
                </div>

                {% if  (currentUser.roles == ['ROLE_ADMIN']) %}
                    <div class="d-flex justify-content-around">
                    {% if (user.active) %}
                        <button class="btnActive">
                            <a href="{{ path('deactivateUser',{'userId': user.id}) }}">Rendre inactif</a>
                        </button>
                    {% else %}
                        <button class="btnActive">
                            <a href="{{ path('activateUser',{'userId': user.id}) }}">Rendre actif</a>
                        </button>
                    {% endif %}


                    <button class="btnActive">
                        <a href="{{ path('userModif',{'userId': user.id}) }}">Modifier</a>
                    </button>

                    <button class="btnDelete">

                        <a href="{{ path('deleteUser',{'userId': user.id}) }}">Supprimer</a>
                    </button>
                    </div>
                {% endif %}
            </div>

            <button type="button" class="btnValid">
                <a href="{{ asset('/going-out/public') }}">Retour</a>
            </button>
        </div>
        <div class="col-sm-1 col-md-3"></div>
    </div>
{% endblock %}