{% extends 'layout.html.twig' %}

{% block title %}
    Connexion
{% endblock %}
{% block test %}
    <div id="login">
    {{ parent() }}
    </div>
{% endblock %}
{% block body %}

    <div class="row">
        <div class="col-xs-2 col-md-3">
        </div>
        <div class="col-xs-8 col-md-6" id="form_format">


            <h3>Connexion</h3>
            <form action="{{ path('login') }}" method="post">

                {#{% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}#}

                <div class="form-group">

                    <label for="username">Identifiant</label>
                    <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}"
                           placeholder="Identifiant"/>
                </div>
                <div class="form-group">

                    <label for="exampleInputPassword1">
                        Mot de passe
                    </label>
                    <input type="password" class="form-control" id="password" name="_password" placeholder="Mot de passe"/>
                </div>

                <div class="checkbox">


                    <input type="checkbox" id="remember_me" name="_remember_me" checked/>
                    <label for="remember_me">Rester connecté</label>


                </div>
                <button type="submit" class="btnValid">
                    Connexion
                </button>
                <button type="submit" class="btnActive ml-4">
                    <a href="{{ path('fpwforgottenPassword') }}" class="card-link">Mot de passe oublié ?</a>
                </button>

            </form>

        </div>
        <div class="col-xs-2 col-md-3">
        </div>
    </div>

{% endblock %}