{% extends 'layout.html.twig' %}

{% block title %}{{ user.username }}{% endblock %}

{% block body %}
    <h1>Profil de {{ user.username }}</h1>

    {{ user.username }}
    {{ user.name }}
    {{ user.firstname }}
    {{ user.username }}
    {{ user.username }}


{% endblock %}

