{% extends 'layout.html.twig' %}

{% block title %}Event{% endblock %}
{% block test %}
    <div id="show_event_bgd">
        {{ parent() }}
    </div>
{% endblock %}
{% block geo %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrRyTeCxvTBbznCTK8sfvzUEM4WeJEyg4&callback=initMap">
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-2 col-md-4">
            <input type="hidden" value="{{ place.latitude }}" id="lat">
            <input type="hidden" value="{{ place.longitude }}" id="long">
            <div id="map" style="border: 1px solid black;
               width: 400px; height: 400px;
               margin-left: 30px; margin-top: 30px;">
            </div>

        </div>
        <div class="col-xs-8 col-md-4">

            {% if event.state == "Ouverte" %}{% set i = 'L\'événement est ouvert à l\'inscription' %}{% endif %}
            {% if event.state == "Annulee" %}{% set i = 'L\'événement à été annulé' %}{% endif %}
            {% if event.state == "EnCreation" %}{% set i = 'L\'événement est en création' %}{% endif %}
            {% if event.state == "Cloturee" %}{% set i = 'Les inscriptions ne sont plus possibles' %}{% endif %}
            {% if event.state == "ActiviteEnCours" %}{% set i = 'L\'événement se déroule actuellement' %}{% endif %}
            {% if event.state == "Passee" %}{% set i = 'L\'événement est fini' %}{% endif %}

            <div class="card">
                <div class="card-body">
                    <h4 class="card-title d-flex justify-content-center">{{ event.label }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>

                    <div class="affEvent">
                        <p class="card-text">
{#                        {% if 'EnCreation' in workflow_marked_places(eventStatus) %}#}
{#                    <p>OKAYY</p>#}
{#                    {% endif %}#}

                        <i class="fas fa-user-astronaut"></i> Organisateur :
                        {% if ((event.creator.active == true) and (event.creator.erased == false)) %}
                            <a class="parts" href="{{ path('userProfile', {'userId': event.creator.id}) }}">{{ event.creator.username }}</a><br/>
                        {% else %}
                            {{ event.creator.username }}
                        {% endif %}
                        <i class="far fa-clipboard"></i> Description : {{ event.description }} <br/>
                        <i class="fas fa-map-marker-alt"></i> Lieu : {{ event.place.label }}<br/>
                            <i class="fas fa-terminal"></i> {{ i }}<br/>
                        <i class="far fa-calendar-alt"></i> Début de l'évènement
                        : {{ event.dateStart |date('d-m-Y') }} à {{ event.dateStart |date('H:i') }} <br/>
                        <i class="far fa-calendar-times"></i> Fin des inscriptions
                        : {{ event.dateInscriptionEnd |date('d-m-Y') }} à {{ event.dateInscriptionEnd |date('H:i') }}
                        <br>
                        <i class="far fa-clock"></i> Durée de l'évènement : {{ event.duration |date('H') }}h{{ event.duration |date('i') }}<br/>
                        <i class="fas fa-users"></i> Nombre maximum de participants : {{ event.maxMembers }}

                    </p>
                </div>
                    <div class="card-body">
                        {% if (event.state != 'Annulee') %}
                        <h5 class="card-title d-flex justify-content-center">Liste des participants</h5>
                        <h6 class="card-title d-flex justify-content-center">{{ inscriptions|length }} participant(s)</h6>

                        <div class="affEvent">
                            {% for inscription in inscriptions %}
                                <a class="parts" href="{{ path('userProfile', {'userId': inscription.user.id}) }}">{{ inscription.user.username }}</a>
                                <br>
                            {% endfor %}
                            {% else %}
                                <h5 class="card-title d-flex justify-content-center">Motif d'annulation</h5>
                                {{ event.cancelTxt }}
                            {% endif %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-4">
        </div>
    </div>

    <script type="text/javascript">


        let lat = Number(($('#lat').attr("value")));
        console.log(lat);

        let long = Number(($('#long').attr("value")));
        console.log(long);


        function initMap() {


            var location = {lat: lat, lng: long};
            // The map, centered on location
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 10, center: location});
            // The marker, positioned on location
            var marker = new google.maps.Marker({position: location, map: map});

        }
    </script>



{% endblock %}