{% extends 'layout.html.twig' %}

{% block title %}Event{% endblock %}
{% block test %}
    <div id="show_event_bgd">
        {{ parent() }}
    </div>
{% endblock %}
{% block geo %}
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBrRyTeCxvTBbznCTK8sfvzUEM4WeJEyg4&callback=initMap">
    </script>
{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-xs-2 col-md-4">
            <input type="hidden" value="{{ place.latitude }}" id="lat">
            <input type="hidden" value="{{ place.longitude }}" id="long">
            <div id="map" style="border: 1px solid black;
               width: 400px; height: 400px;
               margin-left: 30px; margin-top: 30px;">
            </div>

        </div>
        <div class="col-xs-8 col-md-4">


            <div class="card">
                <div class="card-body">
                    <h5 class="card-title d-flex justify-content-center">{{ event.label }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted"></h6>
                    <p class="card-text">
{#                        {% if 'EnCreation' in workflow_marked_places(eventStatus) %}#}
{#                    <p>OKAYY</p>#}
{#                    {% endif %}#}

                        <i class="fas fa-user-astronaut"></i> Organisateur :
                        {% if ((event.creator.active == true) and (event.creator.erased == false)) %}
                            <a href="{{ path('userProfile', {'userId': event.creator.id}) }}">{{ event.creator.username }}</a><br>
                        {% else %}
                            {{ event.creator.username }}
                        {% endif %}
                        <i class="far fa-clipboard"></i> Description : {{ event.description }} <br>
                        <i class="far fa-calendar-alt"></i> Début des inscriptions
                        : {{ event.dateStart |date('d-m-Y') }} à {{ event.dateStart |date('H:i') }} <br>
                        <i class="far fa-calendar-times"></i> Fin des inscriptions
                        : {{ event.dateInscriptionEnd |date('d-m-Y') }} à {{ event.dateInscriptionEnd |date('H:i') }}
                        <br>
                        <i class="far fa-clock"></i> Durée de l'évènement : {{ event.duration |date('H:i') }} <br>
                        <i class="fas fa-users"></i> Nombre maximum de participants : {{ event.maxMembers }}
                    </p>
                    <div class="card-body">
                        <h5 class="card-title d-flex justify-content-center">Liste des participants</h5>
                        <h6 class="card-subtitle mb-2 text-muted"></h6>

                        <p>{{ inscriptions|length }} participant(s)</p>
                        {% for inscription in inscriptions %}
                            <a href="{{ path('userProfile', {'userId': inscription.user.id}) }}">{{ inscription.user.username }}</a>
                            <br>

                        {% endfor %}


                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2 col-md-4">
        </div>
    </div>

    <script type="text/javascript">


        let lat = Number(($('#lat').attr("value")));
        console.log(lat);

        let long = Number(($('#long').attr("value")));
        console.log(long);


        function initMap() {


            var location = {lat: lat, lng: long};
            // The map, centered on location
            var map = new google.maps.Map(
                document.getElementById('map'), {zoom: 10, center: location});
            // The marker, positioned on location
            var marker = new google.maps.Marker({position: location, map: map});

        }
    </script>



{% endblock %}