{% form_theme eventForm 'bootstrap_4_layout.html.twig' %}
{% extends 'layout.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-2 col-md-3"></div>
        <div class="col-xs-8 col-md-6">
            <h1>Register</h1>

            {{ form_start(eventForm) }}

            {{ form_row(eventForm.label) }}
            {{ form_row(eventForm.dateStart) }}
            {{ form_row(eventForm.duration) }}
            {{ form_row(eventForm.dateInscriptionEnd) }}
            {{ form_row(eventForm.maxMembers) }}
            {{ form_row(eventForm.description) }}
            {{ form_row(eventForm.place) }}
{#            {{ form_widget(eventForm.place, { 'disabled':'disabled' }) }}#}
            {% include 'includes/modalFormPlace.html.twig' %}


            <button class="btn">Register</button>
            {{ form_end(eventForm) }}
        </div>
        <div class="col-xs-2 col-md-3">
        </div>
    </div>
{% endblock %}
