{% form_theme eventForm 'bootstrap_4_layout.html.twig' %}
{% extends 'layout.html.twig' %}

{% block title %}Update Event{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-2 col-md-3"></div>
        <div class="col-xs-8 col-md-6" id="form_format">
            <h3>Modifier une sortie</h3>

            {{ form_start(eventForm) }}

            {{ form_row(eventForm.label) }}
            {{ form_row(eventForm.dateStart) }}
            {{ form_row(eventForm.duration) }}
            {{ form_row(eventForm.dateInscriptionEnd) }}
            {{ form_row(eventForm.maxMembers) }}
            {{ form_row(eventForm.description) }}
            {{ form_row(eventForm.place) }}
            {{ form_row(eventForm.site) }}
            {{ form_row(eventForm.status) }}
            {#            {{ form_widget(eventForm.place, { 'disabled':'disabled' }) }}#}

            <button type="submit" class="btnValid">
                Enregistrer
            </button>

            {#            <button class="btn">Register</button>#}
            {{ form_end(eventForm) }}

        </div>
        <div class="col-xs-2 col-md-3">
        </div>
    </div>
{% endblock %}